// Layouts for discussion pages

.user-profile {
    background-color: $sidebar-color;

    .user-profile {
        padding: 32px 36px;
        min-height: 500px;
    }

    .sidebar-username {
        font-weight: 700;
        font-size: $forum-large-font-size;
    }

    .sidebar-user-roles {
        margin-top: 6px;
        font-style: italic;
        font-size: $forum-base-font-size;
    }

    .sidebar-threads-count {
        margin-top: 14px;
    }

    .sidebar-threads-count span,
    .sidebar-comments-count span {
        font-weight: 700;
    }
}

.discussion-column {
    min-height: 500px;
}
